body {
  background-color: #540a0a;
}

* {
  margin: 0;
  box-sizing: border-box;
}

header {
  font-family: "Bungee Inline", cursive;
  color: #540a0a;

  background-color: white;
  width: 100vw;
  height: 10vh;
  margin: 0;
}

header h1 {
  font-size: 15pt;
  display: inline-block;
  width: 30%;
  margin-left: 10vw;
  padding-top: 3vw;
}

nav {
  width: 30%;
  margin-right: 10vw;
  padding-top: 3vw;
  float: right;
}

nav a {
  color: #540a0a;
  text-decoration: none;
  font-size: 15pt;
  margin-left: 10%;
}

/* LIST */

#list {
  width: 86vw;
  height: 70vh;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-top: 10vh;
  background-color: #efcaca;
  display: grid;
  padding: 5% 2% 2% 2%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  border: 3px solid white;
}

h2,
p {
  width: 80%;
  margin: 0;
  display: inline-block;
  font-family: "Oswald";
  color: white;
  text-transform: uppercase;
  font-size: 1em;
}

/* ICONS */

article:hover img.icon {
  display: block;
}

article:hover h2 {
  color: #a03015;
}

.icon {
  display: none;
  width: 30px;
  float: right;
  margin-left: 5px;
}

.display {
  display: block;
}

.hidden {
  display: none;
}

/* MODAL */

#modal {
  position: absolute;
  width: 40vw;
  height: 31vw;
  top: 29vh;
  right: 7vw;
  z-index: 30;
  background-color: #a03015;
  border: 3px solid white;
}

.cross,
.next,
.previous {
  position: absolute;
  width: 30px;
}

.cross {
  top: 5%;
  right: 5%;
}

.next {
  right: 5%;
  top: 60%;
}
.previous {
  left: 5%;
  transform: scaleX(-1);
  top: 60%;
}

#modal p {
  margin-left: 5%;
}

.modal_name {
  font-size: 2em;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.pic {
  position: absolute;
  bottom: 5%;
  right: calc(50% - 20%);
  width: 40%;
}
